.box {
  width: 100px;
  height: 100px;
  background-color: greenyellow;
}

#container {
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  color: blue;
}
